{% extends "layout.html" %}
{% block content %}
<div style="position: absolute; top: 50%; left: 50%; -webkit-transform : translate(-50%,-50%); transform : translate(-50%,-50%);">
  <h1> 新規登録 </h1>
    <form action="new" method="post">
    名前 <input name="name" type="text"></input><br />
    メールアドレス <input name="email" type="text"></input><br />
    パスワード <input name="password" type="password"></input><br />
    パス再入力 <input name="confirm" type="password"></input><br />
    パス ヒント <input name="hint" type="text"></input><br />
    <input type="submit" value="登録"></input>
  </form>
</div>
{% endblock %}