-extends "layout.html"
-block content
  %div.mid
    %ui.markless
      %li
        %h1
          ユーザ情報
      %li.space
        %a href="create" class="btn btn-info wide" role="button"
          %h1
            新規
      %li.space
        %a href="read" class="btn btn-success wide" role="button"
          %h1
            検索
      %li.space
        %a href="update" class="btn btn-warning wide" role="button"
          %h1
            更新
      %li
        %a href="delete" class="btn btn-danger wide" role="button"
          %h1
            削除