{% extends "layout.html" %}
{% block content %}
<div style="position: absolute; top: 50%; left: 50%; -webkit-transform : translate(-50%,-50%); transform : translate(-50%,-50%);">
  <h1> ユーザ情報 </h1>
  <button type="button" style="width:200px;margin-bottom:10px" class="btn btn-info"><h1>新規</h1></button><br />
  <button type="button" style="width:200px;margin-bottom:10px" class="btn btn-success"><h1>検索</h1></button><br />
  <button type="button" style="width:200px;margin-bottom:10px" class="btn btn-warning"><h1>更新</h1></button><br />
  <button type="button" style="width:200px;margin-bottom:10px" class="btn btn-danger"><h1>削除</h1></button><br />
</div>
{% endblock %}