-extends "layout.html"
-block content
  %div.mid
    %h1
      条件
    %form action="read" method="post"
      %ui.markless
        %li
          name:&nbsp
          %input type="text" name="name"
        %li
          email:&nbsp
          %input type="text" name="email"
        %li
          %input type="submit" value="検索"
    %h1
      一覧
    %form action="update" method="post"
      %table border="1"
        %tr
          %th
            id
          %th
            name
          %th
            update
          %th
            delete
        -for row in list
          %tr
            %td
              {{row[0]}}
              %input type="hidden" name="id" value="{{row[0]}}"
            %td
              %input type="text" name="name" value="{{row[1]}}"
            %td
              %input type="submit" name="{{row[0]}}" value="更新"
            %td
              %input type="button" onclick="del({{row[0]}})" value="削除"